{% extends 'html/base.html' %}

{% block layoutTitle %}Register{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
{% if form.errors %}
<div class="alert alert-danger">
    {% for field in form %}
    {% for error in field.errors %}
    <strong>{{ error|escape }}</strong>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <strong>{{ error|escape }}</strong>
    {% endfor %}
</div>
{% endif %}

<div class="px-4 px-md-5 text-center text-lg-start">
    <div class="container">
        <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h1 class="my-5 display-3 fw-bold ls-tight">
                    Sign Up <br />
                    <span class="text-primary">Access Cafee'83 Now</span>
                </h1>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                    <div class="card-body py-5 px-md-5">
                        <form method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <!-- Submit button -->
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-primary btn-block mb-4">
                                Sign up
                            </button>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>or sign up with:</p>
                                <button type="button" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </button>

                                <button type="button" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                </button>

                                <button type="button" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                </button>

                                <button type="button" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jumbotron -->
{% endblock %}