asgiref==3.8.1
attrs==23.2.0
black==24.3.0
cattrs==23.2.3
cffi==1.16.0
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
distlib==0.3.8
Django==5.0.4
django-polls @ file:///E:/Django/django-polls/dist/django-polls-0.1.tar.gz#sha256=64efadade17970acdfbcba832282efcf634f661ced27e9d2c8a464861867a31f
django-schema-graph==3.1.0
exceptiongroup==1.2.0
filelock==3.13.4
gevent==24.2.1
greenlet==3.0.3
identify==2.5.35
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
pre-commit==3.7.0
psycopg2==2.9.9
pycparser==2.22
PyYAML==6.0.1
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.11.0
tzdata==2024.1
virtualenv==20.25.1
websocket==0.2.1
websockets==12.0
zope.event==5.0
zope.interface==6.2
