{% extends 'base.html' %}
{% load static %}

{% block title %}Computers{% endblock %}

{% block layoutTitle %}
Available Computer
{% if request.user.is_staff %}
<a href="/addcomputers" class="btn btn-primary float-end" type="button">Add New Computer</a>
{% endif %}
{% endblock %}

{% block content %}

<!-- Computer Start -->
<div class="row d-flex justify-content-around">
    {% for computer in computers %}
    {% if computer.is_active %}
    <div class="card text-center col-12 mx-1 mb-3" style="width: 15rem;">
        <img src="{% static 'img/computer.png' %}" class="card-img-top" alt="Computer_Reference">
        <div class="card-body">
            <h5 class="card-title">{{ computer.name }}</h5>
            <ul class="list-group">
                <li class="list-group-item">RAM: {{ computer.ram }}</li>
                <li class="list-group-item">Processor: {{ computer.processor }}</li>
                <li class="list-group-item">Graphics: {{ computer.gpu }}</li>
                <li class="list-group-item">Wifi: {{ computer.wifi }}</li>
                <li class="list-group-item">Price: {{ computer.usage_price }} ₹/Hr</li>
            </ul>
            {% if request.user.is_authenticated %}
            <a href="#" class="btn btn-outline-primary mt-3">Choose This</a>
            {% else %}
            <div class="alert alert-warning mt-3" role="alert">
                Not Authorised
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<!-- Computer Ends -->

{% endblock %}