{% block sidebar %}
<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a href="/dashboard" class="list-group-item list-group-item-action py-2 active" data-mdb-ripple-init
                aria-current="true">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
            </a>
            <a href="/computers" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init>
                <i class="fas fa-computer me-3"></i><span>Computers</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init><i
                    class="fas fa-money-bills me-3"></i><span>Transactions</span></a>
            <a href="#" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init><i
                    class="fas fa-users fa-fw me-3"></i><span>Users</span></a>
            <a href="#" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init>
                <i class="fas fa-user-tie me-3"></i><span>Staff</span>
            </a>

        </div>
    </div>
</nav>
<!-- Sidebar -->
{% endblock %}