{% block sidebar %}
<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a class="btn btn-outline-primary {% if request.path == '/dashboard/' %}active{% endif %} my-1" href="/dashboard" role="button">Dashboard</a>
            <a class="btn btn-outline-primary {% if request.path == '/computers/' %}active{% endif %} my-1" href="/computers" role="button">Computers</a>
            <a class="btn btn-outline-primary {% if request.path == '/transactions/' %}active{% endif %} my-1" href="/transactions" role="button">Tranactions</a>
            <a class="btn btn-outline-primary {% if request.path == '/users/' %}active{% endif %} my-1" href="/users" role="button">Users</a>
            <a class="btn btn-outline-primary {% if request.path == '/staff/' %}active{% endif %} my-1" href="/staff" role="button">staff</a>
        </div>
    </div>
</nav>
<!-- Sidebar -->
{% endblock %}