{% extends 'base.html' %}
{% load static %}

{% block title %}User{% endblock %}
{% block layoutTitle %}User Data{% endblock %}

{% block content %}
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
    <input type="text" class="form-control" placeholder="Search Users" aria-label="Username"
        aria-describedby="basic-addon1" id="searchInput">
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">Customer Username</th>
            <th scope="col">Customer Age</th>
            <th scope="col">Customer Phone</th>
            <th scope="col">Customer Status</th>
        </tr>
    </thead>
    <tbody class="text-capitalize" id="customerTableBody">
        {% for customer in customers %}
        <tr>
            <th scope="row">{{customer.id}}</th>
            <td>{{customer.username}}</td>
            <td>{{customer.age}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.is_active}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block js %}
<script src="{% static 'js/staff.js' %}"></script>
{% endblock %}